/* Main CSS file */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }

::selection {
  background: #b9d6f2; }

::-moz-selection {
  background: #b9d6f2; }

.bg-wrap {
  background-image: url("/assets/images/sports.png"); }

.p-8rem {
  padding: 8rem; }

.alert {
  display: block;
  position: fixed;
  width: 40%;
  padding: 2em;
  background: #f9fbb2;
  margin: 0 auto;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: #333333;
  box-shadow: 2px 2px 10px 1px gray; }
  .alert .closebtn {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #333333;
    cursor: pointer; }
    .alert .closebtn:hover {
      color: crimson; }

.form-error {
  border: 2px solid crimson !important; }

.err-tooltip {
  display: block;
  color: crimson;
  font-size: 1.4rem; }

.col {
  flex: 0 0 25%; }

.col-2 {
  flex: 1 0 50%; }

header {
  background: #0353a4;
  box-shadow: 0px 2px 6px 1px gray; }
  header nav {
    max-width: 120rem;
    margin: 0 auto; }
  header ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    padding: 2em 0; }
    header ul li {
      padding: .5em;
      margin: 0 1em; }
      header ul li a {
        text-decoration: none;
        font-size: 1.7rem;
        text-transform: uppercase;
        color: white;
        font-weight: 700; }
        header ul li a:hover, header ul li a:focus, header ul li a.active {
          color: #b9d6f2; }

/*
    Map
*/
#center {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 5rem;
  min-height: 90vh; }

#map {
  display: flex;
  flex: 1 0; }
  #map svg {
    width: 100%;
    height: auto; }

#hero-title {
  display: flex;
  flex: 1 2;
  margin-left: 10rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 20rem;
  flex-direction: column; }
  #hero-title a {
    background: #0353a4;
    color: #fafafa;
    text-decoration: none;
    padding: .7em;
    font-size: 2.5rem;
    margin-top: .7em;
    text-transform: uppercase;
    box-shadow: 4px 4px 16px -2px gray; }
  #hero-title h1 {
    font-size: 8.2rem;
    color: #0353a4;
    letter-spacing: .7rem;
    font-family: 'Permanent Marker', sans-serif; }
  #hero-title p {
    font-size: 1.7rem;
    max-width: 50rem;
    text-align: center;
    margin: .3em 0;
    line-height: 1.2em;
    margin-bottom: 1em; }

.circle-star {
  opacity: 0;
  transition: opacity ease-in 500ms; }

.circle-star.active {
  opacity: 1; }

#acc-tabs {
  display: flex;
  max-width: 120rem;
  margin: 0 auto; }
  #acc-tabs .tab {
    flex: 1;
    text-align: center;
    padding: 1em 0;
    cursor: pointer; }
    #acc-tabs .tab.active {
      border-top: 3px solid #0353a4;
      background: rgba(0, 0, 0, 0.1); }
    #acc-tabs .tab i {
      font-size: 2rem;
      line-height: 46px;
      width: 5rem;
      height: 5rem;
      border: 2px solid #0353a4;
      border-radius: 50%;
      color: #0353a4; }

.tab-content {
  background: rgba(0, 0, 0, 0.1);
  max-width: 120rem;
  margin: 0 auto;
  padding: 2em 0;
  padding-bottom: 8em; }
  .tab-content h1 {
    color: #0353a4;
    font-size: 4rem;
    padding-top: .75em;
    padding-left: 3em; }
  .tab-content ul {
    margin-top: 2em;
    font-size: 2rem;
    list-style-type: none;
    margin-left: 6em; }
    .tab-content ul li {
      padding-left: 2em;
      margin-bottom: .5em; }
      .tab-content ul li i {
        color: #0353a4;
        margin-right: 1em; }

.thoughts-slider {
  background: #0353a4;
  padding: 9rem 0; }
  .thoughts-slider blockquote {
    max-width: 80rem;
    margin: 0 auto;
    font-size: 3rem;
    color: white;
    text-align: center; }
    .thoughts-slider blockquote span {
      display: block;
      text-align: center;
      color: #b9d6f2;
      font-size: 2.4rem;
      margin-top: 1.4rem; }

.contact-form {
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 10rem;
  padding-top: 7.5rem; }
  .contact-form h1 {
    text-align: center;
    color: #0353a4;
    font-size: 3.4rem;
    margin-bottom: 1em; }
  .contact-form input[type='text'] {
    display: block;
    padding: .75em;
    width: 100%;
    border: 2px solid #0353a4;
    transition: border ease-out 800ms;
    background: transparent; }
    .contact-form input[type='text']:focus, .contact-form input[type='text']:active {
      border: 2px solid #1286fb; }
  .contact-form .form-wrap {
    display: block;
    margin: 0 auto;
    max-width: 80%; }
    .contact-form .form-wrap textarea {
      border: 2px solid #0353a4;
      background: transparent;
      width: 100%;
      min-height: 20rem;
      max-width: 100%;
      min-width: 50%;
      max-height: 40rem;
      margin-top: 2rem;
      padding: .75em;
      transition: border ease-out 800ms; }
      .contact-form .form-wrap textarea:focus, .contact-form .form-wrap textarea:active {
        border: 2px solid #1286fb; }
  .contact-form button {
    display: block;
    padding: .75em;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #0353a4;
    margin-top: 1em;
    transition: border ease-out 800ms;
    background: #0353a4;
    color: white;
    transition: all ease 800ms;
    cursor: pointer; }
    .contact-form button:hover {
      background: #1286fb;
      border: 2px solid #1286fb; }

footer {
  background-image: url("/assets/images/sports.png"); }
  footer .footer-wrap {
    background: rgba(0, 0, 0, 0.1);
    padding: 5rem 3rem; }
    footer .footer-wrap .footer-center {
      max-width: 120rem;
      margin: 0 auto;
      display: flex;
      color: #0353a4; }
      footer .footer-wrap .footer-center h1 {
        font-size: 2.8rem;
        margin-bottom: .75rem;
        text-align: center; }
      footer .footer-wrap .footer-center p {
        color: black;
        font-size: 1.8rem;
        text-align: left; }

.icons-connected {
  margin-top: 3rem;
  text-align: center; }
  .icons-connected i {
    font-size: 2.4rem;
    margin: 0 .5rem;
    width: 2em;
    text-align: cenetr;
    display: inline-block;
    border-radius: 60px;
    border: 1.5px solid #0353a4;
    padding: .4em 0; }

.logo-foot {
  text-align: center; }
  .logo-foot img {
    width: 10rem; }


/*# sourceMappingURL=app.css.map*/