* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

@import 'variables';

@import 'utils';

@import 'partials/header';
@import 'partials/hero';
@import 'partials/accounts';
@import 'partials/thoughts';
@import 'partials/contact';
@import 'partials/footer';
@import 'partials/login';
@import 'partials/festivals'