#acc-tabs {
    display: flex;
    @include center-width();
    .tab {
        flex: 1;
        text-align: center;
        padding: 1em 0;
        &.active {
            border-top: 3px solid $primary;
            background: rgba(0, 0, 0, 0.1);
        }
        i {
            font-size: 2rem;
            line-height: 46px;
            width: 5rem;
            height: 5rem;
            border: 2px solid $primary;
            border-radius: 50%;
            color: $primary;
        }
    }   
}

#tab-content {
    min-height: 30rem;
    background: rgba(0, 0, 0, 0.1);
    @include center-width();
}