.contact-form {
    @include center-width();
    h1 {
        text-align: center;
        color: $primary;
        font-size: 3.4rem;
        margin-bottom: 1em;
    }
    input[type='text'] {
        display: block;
        padding: .75em;
        width: 100%;
        margin: 0 auto;
        border: 2px solid $primary;
        transition: border ease-out 800ms;
        background: transparent;
        &:focus,
        &:active {
            border: 2px solid lighten($primary, 20%);
        }
    }
    .form-wrap {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        textarea {
            border: 2px solid $primary;
            background: transparent;
            width: 100%;
            min-height: 10rem;
            max-width: 100%;
            min-width: 50%;
            max-height: 20rem;
            margin-top: 2rem;
            padding: .75em;
            transition: border ease-out 800ms;
            &:focus,
            &:active {
                border: 2px solid lighten($primary, 20%);
            }
        }
    }
    button {
        display: block;
        padding: .75em;
        width: 80%;
        margin: 0 auto;
        border: 2px solid $primary;
        margin-top: 1em;
        transition: border ease-out 800ms;
        background: $primary;
        color: white;
        transition: all ease 800ms;
        &:hover {
            background: lighten($primary, 20%);
            border: 2px solid lighten($primary, 20%);
        }
    }
}