.festivali {
  @include center-width();
  margin-top: 5rem;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__wrap {
    h1 {
      margin: 1em 0;
      font-size: 3.2rem;
      color: $primary;
      text-align: center;
    }
  }
}

.festival {
  margin: 2em;
  &__slika {
    display: block;

    img {
      height: 250px;
      width: 100%;
    }
  }
  h2 {
    font-size:3rem;
    color: $primary;
  }
  h3 {
    font-size: 1.8rem;
    color: gray;
    margin-top: .3em;

    i {
      margin: 0 .5em;
    }
  }
  p {
    margin-top: .5em;
    font-size: 1.4rem;
  }
}
