.site-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  min-height: 60em;
  @include center-width($width: 70rem);
  &__title {
    font-size: 4rem;
    color: $primary;
    text-align: center;
  }
  &__wrap {
    p {
      font-size: 1.5rem;
      margin-top: .7em;
      a {
        text-decoration: none;
        color: $primary;
        &:hover,
        &:active {
          color: lighten($primary, 20%);
        }
      }
    }
  }
}

.form {
  font-size: 1.4rem; 
  .form__group {
    margin: 3em 0;
  }
  .form__errors {
    color: crimson;
  }
  .form__control {
    display: block;
    padding: 1em;
    width: 100%;
    border: 2px solid $primary;
    transition: border ease-out 800ms;
    background: transparent;
    &:focus,
    &:active {
      border: 2px solid lighten($primary, 20%);
    }
    margin-bottom: .75em;
  }
  .form__submit {
    display: block;
    width: 8em;
    margin: 0 auto;
    padding: 1em;
    border: none;
    cursor: pointer;
    transition: background ease 250ms;
  
    &--primary {
      background: $primary;
      color: white;
      &:hover {
        background: lighten($primary, 20%);
      }
    }
  }
}